*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
}
body{
  background: #434343;
  color: #fff
}

#header{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(1000000022-fotor-bg-remover-2024071421423.png);
}
h2{
  color: #000000;
  font-size: 40px;
}
span{
  color: #AE03B6;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container nav h1{
  font-size: 60px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: #FCFBFC;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: "";
  position: absolute;
  background: #0D0390;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}
#about{
  padding: 80px 0;
  color: #ababab;
  position: relative;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  
}
img{
  
  flex-basis: 35%;
  max-height: 400px;
  background: #DADCED;
  border-radius: 20px;
  width: 100%;
  border-radius: 20px;
  background-size: cover;
  filter: drop-shaddow(1px 1px 20px yellow);
  

}
.about-col-2{
  flex-basis: 60%;
  padding: 5px;
}
.sub-title{
  display: flex;
  margin: 20px;
}
.mytitle{
  margin-left: 15px;
  font-size: 30px;
  cursor:pointer;
  position: relative;
}
.mytitle::after{
  content: "";
  width: 0;
  position: absolute;
  background: #FF00D1;
  height:3px;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.mytitle.active-link::after{
  width: 70%;
}
.mytitle-contents ul li{
  list-style: none;
  margin: 10px;
}
.mytitle-contents ul li span{
  color: #f44d65;
  font-size: 15px;
}
.mytitle-contents{
  display: none;
}
.mytitle-contents.active-title{
  display: block;
}
#services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}
#services h1{
  margin: 30px 0;
}
.services-list div{
  background-color: #262626;
  border-radius: 5px;
  padding: 15px;
  border-radius: 20px;
  transition:background-color 0.5s, transform 0.6s;
}
.services-list div a{
  text-decoration: none;
  display: inline-block;
  color: white;
  margin: 15px 0;
  font-size: 18px;
  font-weight: 500;
}
.services-list div i{
  font-size: 50px;
}
.services-list div:hover{
  background-color: #FF00D1;
  transform:translateY(-10px);
}
.container h1{
  margin:15px;
}
.work{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.work img{
  display: block;
  border-radius: 15px;
  width: 100%;
  transition: transform 0.5s;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}
.layer{
  width: 100%;
  height: 0;
  border-radius: 0px 0px 15px 15px;
  position: absolute;
  top:50%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background:linear-gradient(rgba(0,0,0,0.9), #ff006d) ;
  display: flex;
  align-items: center;
  justify-content: centre;
  flex-direction: column;
  text-align: centre;
  transition: height 0.5s;
}
.layer a{
  text-decoration: none;
  color: #ff0;
  font-size: 30px;
  font-weight: 500;
  padding: 25px;
}
.layer h3{
  padding: 25px;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.outside{
  text-align: centre;
  text-decoration: none;
  border:2px solid #ff006d;
  color: #fff;
  margin: 50px auto;
  display: block;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  transition: background-color 0.5s;
}
.outside:hover{
  background-color: #ff006d;
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin: 25px 0;
  font-size: 20px;
}
.social-icons a{
  text-decoration: none;
  color: #ffff;
  font-size: 35px;
  font-weight: 500;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.5s, background-color 0.5s;
}
.social-icons a:hover{
  background-color: #ff404f;
  transform: translateY(-5px);
}
contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  padding: 15px;
  margin: 15px;
  border: 0px;
  background: #262626;
  border-radius: 6px;
  
}
form button{
  background-color: #ff006d;
  cursor: pointer
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 13px;
}
.copywrite{
  width: 100%;
  background-color: #fff1;
  text-align: center;
  height: 15px;
}


</*-----------media-------------*/
/*@media screen and (max-width = 100px){
  #header{
    width: 100%;
    height: 100vh;
    background-image: url(IMG_20240621_111154.jpg);
  }
  .header-text h1{
    font-size: 18px;
  }
}*/